streamlit==1.39.0
huggingface_hub==0.25.2
torch==2.5.1
transformers==4.45.2
tensorflow-cpu==2.17.0
ultralytics==8.3.0
faiss-cpu==1.9.0
sentence-transformers==3.2.1
scikit-learn==1.5.2
reportlab==4.2.5
Pillow==10.4.0
numpy==1.26.4
